<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid justify-content-center">
    <%= link_to "GymTracker", root_path, class: "navbar-brand"%>
    <div class="navbar">
      <ul class="navbar-nav">
        <% if signed_in? %>
        <li class="nav-item">
          <%= link_to "Workouts", workouts_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Exercise", exercises_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= button_to "Sign out", sign_out_path, method: :delete, class: "nav-link active"%>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
