<h1>Editing user workout</h1>

<%= render "form", user_workout: @user_workout %>

<br>

<div>
  <%= link_to "Show this user workout", @user_workout %> |
  <%= link_to "Back to user workouts", user_workouts_path %>
</div>
