<h1>Editing exercise set</h1>

<%= render "form", exercise_set: @exercise_set %>

<br>

<div>
  <%= link_to "Show this exercise set", @exercise_set %> |
  <%= link_to "Back to exercise sets", exercise_sets_path %>
</div>
