<p style="color: green"><%= notice %></p>

<h1>Exercise sets</h1>

<div id="exercise_sets">
  <% @exercise_sets.each do |exercise_set| %>
    <%= render exercise_set %>
    <p>
      <%= link_to "Show this exercise set", exercise_set %>
    </p>
  <% end %>
</div>

<%= link_to "New exercise set", new_exercise_set_path %>
