<div class="container">
  <h1>Exercises</h1>
  <%= link_to 'New Exercise', new_exercise_path, class: 'btn btn-success mb-3' %>

  <table class="table table-striped table-bordered">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @exercises.each do |exercise| %>
      <tr>
        <td class="align-middle"><%= exercise.name %></td>
        <td>
          <div class="btn-group">
            <div class="btn" >
              <%= link_to 'Show', exercise, class: 'btn btn-info btn-sm' %>
            </div>
            <div class="btn" >
              <%= button_to 'Delete', exercise, method: :delete, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>


</div>
